:root{
    --pink-text: #BE5985;
    --background-btn: #FFB8E0;
    --white-text: white;
    --background-pink: #FFEDFA;
    --dark-background-pink: #EC7FA9;
    --Instrument-Serif: "Instrument Serif";
    --Roboto: "Roboto"
}

@font-face {
    font-family: "Instrument Serif";
    src: local("Instrument Serif") ,
    url("src/assests/fonts/InstrumentSerif-Italic.ttf") format("ttf") ,
    url("src/assests/fonts/InstrumentSerif-Regular.ttf") format("ttf");
}


@font-face {
    font-family: "Roboto";
    src: url("src\assests\fonts\Roboto-VariableFont_wdth,wght.ttf") format("tff") , 
    url("src\assests\fonts\Roboto-Italic-VariableFont_wdth,wght.ttf") format("tff");
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.addBookContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--dark-background-pink);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    align-items: center;
}

.addBookContainerInput{
    height: 24px;
    width: 171px;
    border-radius: 20px;
    border-style: none;
    background-color: var(--background-pink);
    font-family: var(--Instrument-Serif), var(--Roboto);
    font-style: italic;
    font-size: 1rem;
    outline: none;
    color: var(--dark-background-pink);
}

.fieldsHeader{
    text-align: center;
    color: var(--white-text);
    font-family: var(--Instrument-Serif), var(--Roboto);
    transform: translateY(20px);
}

.addBookContainerInput::placeholder{
    text-align: center;
    font-size: 0.8rem;
    visibility: visible;
}

.addBookContainerInput:focus::placeholder{
    transition: linear 200ms;
    transform: translateY(-6px);
    color: var(--dark-background-pink);
}

.bottomContainer{
    display: flex;
    align-items: flex-end
}


.buttonsContainer button{
    height: 1.8rem;
    width: 6.3rem;
    font-size: 0.8rem;
    border-radius: 2.5rem;
    border: none;
    background-color: var(--background-btn);
    color: var(--pink-text);
    font-style: italic;
    font-family: var(--Instrument-Serif), var(--Roboto);
    margin: 5px;
}

.buttonsContainer button:active{
    background-color: var(--background-pink);
    transform: translate(0,2px);
    box-shadow: 0px 1px 1px pink;
}

.buttonsContainer button:hover{
    background-color: var(--background-pink);
}

.checkBoxContainer p{
    font-size: 1rem;
    font-family: var(--Instrument-Serif), var(--Roboto);
    font-style: italic;
    color: var(--white-text);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 99px;
    background-color: var(--background-btn);
    border-radius: 5px;
    margin-right: 15px;
}

.title p{
    text-align: center;
    color: var(--pink-text);
    font-size: 1rem;
    font-style: italic;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
}

.addBook{
    height: 50px;
    width: 150px;
    color: var(--white-text);
    border-style: none;
    background-color: var(--dark-background-pink);
    font-weight: 600;
    font-family: var(--Instrument-Serif), var(--Roboto);
    border-radius: 10px;
}

.addBook:active{
    transform: translateY(2px);
    background-color: var(--background-btn);
}

.addBook:hover{
    background-color: var(--background-btn);
}

.addBook:disabled{
    background-color: rgb(159, 156, 156);
    color: var(--white-text);
}

.addBook:disabled:active{
    transform: translateY(0px);
}

.bookDisplay{
    height: 150px;
    width: 150px;
    background-color: var(--dark-background-pink);
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}

